@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
//@import "compass/css3";
//@import "compass/typography/links/link-colors";
@import "compass";

$link-color: $linkColor;
$noise-bg: image-url('noise.png') 0 0 !default;
$icons-sprite: image-url($iconSpritePath) !default;
$icons-white-sprite: image-url($iconWhiteSpritePath) !default;

@mixin selection($bg, $color: inherit, $text-shadow: none){
  * {
    &::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
  }
}

@import "solarized";
@import "syntax";

$lightsoffLinkColor: #08f;
$lightsoffLinkColorHover: #5bf;

.flip {
  @include scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.align-content-center { text-align: center; }
.align-content-left { text-align: left; }
.align-content-right { text-align: right; }
.auto-width { width: auto; }
.centered { margin-left: auto; margin-right: auto; }
.no-bottom { margin-bottom: 0; }
.no-top { margin-top: 0; }

body {
  padding-top: $navbarHeight;
  @media (max-width: 979px) {
    padding-top: 0;
  }
  .lightsoff & {
    background-color: #1d1d1d;
    color: #bbb;
  }
}

a {
  .lightsoff & {
    @include link-colors($lightsoffLinkColor, $lightsoffLinkColorHover, $lightsoffLinkColorHover, $lightsoffLinkColor, $lightsoffLinkColorHover);
  }
}

footer {
  border-top: 1px solid #ddd;
  margin-top: $baseLineHeight;
  padding-top: $baseLineHeight / 4;
  text-align: center;
  .lightsoff & {
    border-color: $grayDark;
    color: $gray;
  }
  .lightsoff & a {
    @include opacity(.8);
  }
}

hr {
  border-top-color: #ddd;
  border-bottom-color: $grayLighter;
  .lightsoff & {
    border-top-color: $grayDarker;
    border-bottom-color: $grayDark;
  }
}


/* =============================================================================
   Page/Post elements
   ========================================================================== */
.container.wrapper {
  padding: ($baseLineHeight * 2 / 3) $baseLineHeight 0;
  //background-color: #f5f5f5;
  //background-image: $noise-bg;
  background: #f5f5f5 $noise-bg;
  @include box-shadow("-3px 0 9px rgba(0, 0, 0, 0.15), 3px 0 9px rgba(0, 0, 0, 0.15)");
  .lightsoff & {
    background-color: #0f0f0f;
    @include box-shadow("-3px 0 9px rgba(0, 0, 0, 0.75), 3px 0 9px rgba(0, 0, 0, 0.75)");
  }
  > .row { position: relative; }
}

.post {
  .tags { margin-bottom: $baseLineHeight; }
  .next-prev-nav { text-align: center; }
}

.page-header {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  h1 {
    padding-bottom: $baseLineHeight / 4;
    .lightsoff & { color: #f5f5f5; }
  }
  hr { margin-top: 0; }
}

.content {
  h4 {
    border-bottom: 1px solid $grayLighter;
    text-transform: uppercase;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    margin-bottom: $baseLineHeight / 4;
    .lightsoff & { border-color: $grayDark; }
  }
}

.hero-unit {
  background-color: #ddd;
  .lightsoff & { background-color: $grayDark; }
  @media (max-width: 480px) {
    padding: $baseLineHeight;
    margin-bottom: $baseLineHeight / 2;
    h1 { font-size: $baseFontSize * 2; }
    p {
      font-size: $baseFontSize;
      line-height: $baseLineHeight;
    }
  }
}

code {
  padding-top: 0;
  padding-bottom: 0;
  color: #a9032d;
  .lightsoff & {
    background-color: darken(#f7f7f9, 80);
    border-color: darken(#e1e1e8, 70);
    color: #e4a854;
  }
}


/* =============================================================================
   Accordions
      ========================================================================== */
.accordion-group,
.accordion-inner {
  .lightsoff & { border-color: $gray; }
}


/* =============================================================================
   Alerts
   ========================================================================== */
.alert-warn {
  .lightsoff & {
    background-color: darken($warningBackground, 40);
    border-color: darken($warningBorder, 40);
    color: darken($warningText, 30);
}
}
.alert a {
  .lightsoff & { color: darken($lightsoffLinkColor, 15); }
}
.alert a:focus,
.alert a:hover {
  .lightsoff & { color: darken($lightsoffLinkColorHover, 30); }
}


/* =============================================================================
   Buttons
   ========================================================================== */
.btn-primary {
  .lightsoff & {
    //@include buttonBackground($lightsoffLinkColor, $lightsoffLinkColorHover);
    @include buttonBackground(#08f, #05f);
  }
}


/* =============================================================================
   Forms
   ========================================================================== */
legend {
  margin-bottom: $baseLineHeight / 2;
  .lightsoff & {
    color: $grayLight;
    border-color: $grayDark;
  }
}

textarea {
  .fullwidth { width: 99%; }
  .resize-v { resize: vertical; }
}

.help-block {
  .lightsoff & { color: #777; }
}

.input-prepend .add-on {
  color: $grayDarker;
}

.form-actions {
  .lightsoff & {
    background-color: $grayDarker;
    border-color: $grayDark;
  }
}

#step2.accordion-body.in {
  overflow: visible;
}

.control-group.error {
  > label,
  .help-block,
  .help-inline {
    .lightsoff & { color: red; }
  }
  .checkbox,
  .radio,
  input,
  select,
  textarea {
    .lightsoff & { border-color: red; }
  }
  .checkbox:focus,
  .radio:focus,
  input:focus,
  select:focus,
  textarea:focus {
    .lightsoff & { border-color: red; }
    @include box-shadow("inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red");
  }
}
.control-group.error {
  .lightsoff & { @include formFieldState(red, red, red); }
}


/* =============================================================================
   Navigation
   ========================================================================== */
.navbar {
  //.box-shadow(0 3px 9px rgba(0, 0, 0, 0.5));
  .lightsoff & {
    @extend .navbar-inverse;
    @include box-shadow(0 3px 9px rgba(128, 128, 128, 0.2));
  }
  .nav > li > a {
    @include opacity(.75);
    > i { @include opacity(.50); }
  }
}
.navbar-inverse {
  .nav > li > a {
    color: #fff;
  }
}
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*="icon-"] {
  background-image: $icons-sprite;
}
.lightsoff .navbar i[class^="icon-"],
.lightsoff .navbar i[class*=" icon-"] {
  background-image: $icons-white-sprite;
}
.navbar .nav > li.active > a,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li.active > a > i,
.navbar .nav > li > a:hover > i {
  @include opacity(1);
}
.navbar-fixed-top {
  @media (max-width: 979px) { margin-bottom: 0; }
}


/* =============================================================================
   Thumbnails
   ========================================================================== */
img.thumbnail {
  .lightsoff & { border-color: $gray; }
}


/* =============================================================================
   Tooltips
   ========================================================================== */
.tooltip-inner {
  max-width: 400px;
  .lightsoff & {
    color: $grayDarker;
    background-color: $grayLighter;
  }
}
.tooltip-arrow {
  .lightsoff & {
    color: $grayLight;
    border-color: $grayDark;
  }
}
.tooltip {
  .lightsoff & {
    &.in { @include opacity(.9); }
    &.top .tooltip-arrow {
      border-top-color: $grayLighter;
    }
    &.right .tooltip-arrow {
      border-right-color: $grayLighter;
    }
    &.bottom .tooltip-arrow {
      border-bottom-color: $grayLighter;
    }
    &.left .tooltip-arrow {
      border-left-color: $grayLighter;
    }
  }
}


/* =============================================================================
   Post dates
   ========================================================================== */
.post .page-header {
  time {
    position: absolute;
    left: -($baseLineHeight * 3);
    margin: 0;
    font-size: 90%;
    line-height: 1;
    border: 1px solid #666;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    @include border-radius($baseLineHeight / 6);
    @include box-shadow(-2px 2px 6px rgba(0, 0, 0, 0.25));
    span {
      display: block;
      text-align: center;
      cursor: default;
      @include gradient-vertical(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      background-color: $grayLighter;
      .lightsoff & {
        @include gradient-vertical(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
        background-color: $grayDark;
      }
      &.day,
      &.month {
        background-color: transparent;
        background-image: none;
      }
      &.month {
        text-transform: uppercase;
        font-size: 1.2em;
        padding-top: 0.3em;
        text-shadow: none;
      }
      &.day {
        font-size: 2em;
      }
      &.year {
        border-top: 1px solid $gray;
        color: $white;
        font-size: 1.2em;
        padding: 0.3em;
        @include gradient-vertical(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
        background-color: $blueDark;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15);
      }
    }
  }
}


/* =============================================================================
   Sidebar
   ========================================================================== */
.sidebar-inner {
  padding-right: $baseLineHeight;
}
.sidebar-module {
  margin-bottom: $baseLineHeight / 2;
}
.sidebar-module h3 {
  position: relative;
  color: $navbarLinkColorHover;
  padding-left: $baseLineHeight;
  padding-right: $baseLineHeight;
  margin-bottom: $baseLineHeight / 2;
  //@include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
  @include gradient-vertical($navbarBackgroundHighlight, #ddd);
  @include border-radius(4px);
  @include box-shadow("0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
  .lightsoff & {
    color: #f5f5f5; //@navbarInverseLinkColorHover;
    @include gradient-vertical($navbarInverseBackgroundHighlight, $navbarInverseBackground);
  }
  i {
    position: absolute;
    top: 50%;
    margin-top: -7px;
  }
  i[class^="icon-"],
  i[class*=" icon-"] {
    .lightsoff & {
      background-image: $icons-white-sprite;
    }
  }
  span {
    margin-left: $baseLineHeight * 1.5;
  }
}

.sidebar-module.latest-posts h4 { margin-bottom: 0; }
.sidebar-module.latest-posts h6 { margin-top: 0; }


/* =============================================================================
   Tag Cloud
   ========================================================================== */
.sidebar-module.tag-cloud h3 {
}
.tags-list {
  display: inline-block;
  a {
    margin-right: $baseLineHeight / 4;
  }
  a:hover {
    text-decoration: none;
    .label { background-color: $infoText; }
  }
  .label {
    .lightsoff & { background-color: $gray; }
  }
}


/* =============================================================================
   Binary Life
   ========================================================================== */
#binary-life {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: -1;
  font-size: 10px;
  background-color: #fcfcfc;
  color: #e5e5e5;
  margin: 0;
  padding: 0;
  border: none;
  @include border-radius(none);
  .lightsoff & {
    background-color: #1d1d1d;
    color: #333;
  }
}


/* =============================================================================
   Browser icons
   ========================================================================== */
.icon-browser {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: image-url('browser_logos-16.png') 0 0;
  background-repeat: no-repeat;
}
.icon-browser-chrome { background-position: -2px 0; }
.icon-browser-firefox { background-position: -19px 0; }
.icon-browser-ie { background-position: -70px 0; }
.icon-browser-opera { background-position: -36px 0; }
.icon-browser-safari { background-position: -53px 0; }


/* =============================================================================
   Glider Tag
   ========================================================================== */
#glider-tag-container {
  height: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #f9f9f9;
  .lightsoff & { background: #1d1d1d; }
}
#glider-tag {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 2px 0 0;
  float: right;
  .dot {
    position: absolute;
    display: block;
    background: #aaa;
    background: rgba(0, 0, 0, 0.2);
    height: 4px;
    width: 4px;
    @include border-radius(2px);
    top: 0;
    left: 5px;
    @include transition("all 0.5s ease-in-out");
    .lightsoff & { background: rgba(255, 255, 255, 0.4); }
    &:nth-child(2) { top: 5px; left: 10px; }
    &:nth-child(3) { top: 10px; left: 0; } 
    &:nth-child(4) { top: 10px; left: 5px; }
    &:nth-child(5) { top: 10px; left: 10px; }
  }
  &:hover .dot {
    background: rgba(0, 0, 0, 0.6);
    .lightsoff & { background: rgba(255, 255, 255, 0.6); }
  }
}


/* =============================================================================
   jQuery Show Loading Plugin
   ========================================================================== */
.loading-indicator {
  height: 80px;
  width: 80px;
  background: image-url('loading.gif') no-repeat center center;
}
.loading-indicator-overlay {
  background-color: #666;
  @include opacity(.7);
  cursor: wait;
}


/* =============================================================================
   Light switch
   ========================================================================== */
#light-switch {
  @include opacity(.5);
}
#light-switch:hover {
  @include opacity(1);
}


/* =============================================================================
   Profile image flip
   ========================================================================== */
.profile-image-flip {
  position: relative;
  //width: 200px;
  //height: 200px;
  width: 128px;
  height: 128px;
  z-index: 1;
  & > div {
    //width: 200px;
    //height: 200px;
    width: 128px;
    height: 128px;
  }
  .face {
    position: absolute;
    //width: 200px;
    //height: 200px;
    width: 128px;
    height: 128px;
  }
  .face.front {
    width: 128px;
    height: 128px;
    //margin: 36px;
  }
  .face.back {
    display: block;
  }
  .csstransforms3d.csstransitions & {
    @include perspective(1000px);
    & > div {
      @include transform-style(preserve-3d);
      @include transition(all 1.0s linear);
    }
    &:hover > div { @include rotateY(180deg); }
    .face { @include backface-visibility(hidden); }
    .face.back { @include rotateY(180deg); }
  }
  .navbar &,
  .navbar & > div,
  .navbar & .face {
    width: 40px;
    height: 40px;
  }
  .navbar & .face.front {
    width: 36px;
    height: 36px;
    margin: 2px;
  }
  .sidebar-module & { margin: 0 auto; }
}


/* =============================================================================
   Social Media Icons
   ========================================================================== */
.social-media-icons {
  text-align: center;
  a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 0.75em;
    background: image-url('socialmediabadges.32.png') no-repeat 0 0;
    @include opacity(.5);
    &:hover { @include opacity(1); }
    &.gplus { background-position: -32px 0; }
    &.rss { background-position: -64px 0; }
    &.stackoverflow { background-position: -128px 0; }
    &.twitter { background-position: -96px 0; }
  }
  h3 {
    text-align: left;
  }
}

/* =============================================================================
   Fcbkcomplete
   ========================================================================== */
/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */

/* TextboxList sample CSS */
ul.holder {
  margin: 0;
  background-color: $inputBackground;
  border: 1px solid $inputBorder;
  @include border-radius($inputBorderRadius);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
  overflow: hidden;
  height: auto !important;
  height: 1%;
  padding: 4px 4px 0;
  color: $gray;
  display: inline-block;
  vertical-align: middle;
}
.lt-ie8 ul.holder {
  padding-bottom: 2px;
}
ul.holder li {
  float: left;
  list-style-type: none;
  //margin: 0 5px 4px 0;
  margin: 0 4px 2px 0;
  white-space: nowrap;
}
ul.holder li.bit-box,
ul.holder li.bit-input input {
  //font: 11px "Lucida Grande", "Verdana";
}
ul.holder li.bit-box {
  background-color: #dee7f8;
  border: 1px solid #cad8f3;
  @include border-radius(6px);
  //padding: 1px 4px 2px;
  padding: 1px 4px 0;
}
ul.holder li.bit-box-focus {
  border-color: #598bec;
  background: #598bec;
  color: #fff;
}
ul.holder li.bit-input input {
  width: auto;
  overflow: visible;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 3px 0 2px; /* no left/right padding here please */
  @include box-shadow(none);
}
ul.holder li.bit-input input:focus {
  border: 0;
  @include box-shadow(none);
}
//ul.holder li.bit-input input.smallinput {
//  width: 20px;
//}

/* Facebook demo CSS */
ul.holder li.bit-box {
  padding-right: 15px;
  position: relative;
  z-index: 1000;
}
ul.holder li.bit-hover {
  background: #bbcef1;
  border: 1px solid #6d95e0;
}
ul.holder li.bit-box-focus {
  border-color: #598bec;
  background: #598bec;
  color: #fff;
}
ul.holder li.bit-box a.closebutton {
  position: absolute;
  right: 4px;
  top: 5px;
  display: block;
  width: 7px;
  height: 7px;
  font-size: 1px;
  background: image-url('close.gif');
}
ul.holder li.bit-box a.closebutton:hover {
  background-position: 7px;
}
ul.holder li.bit-box-focus a.closebutton,
ul.holder li.bit-box-focus a.closebutton:hover {
  background-position: bottom;
}

/* Autocompleter */
.facebook-auto {
  display: none;
  position: absolute;
  background: $grayLighter;
  z-index: 1001;
}
.facebook-auto .select_all_items {
  display: block;
  float: right;
}
.facebook-auto .default {
  padding: 5px 7px;
  border: 1px solid #ccc;
  border-width: 0 1px 1px;
  font-family: "Lucida Grande", "Verdana";
  font-size: 11px;
}
.facebook-auto ul {
  display: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: absolute;
  z-index: 9999;
}
.facebook-auto ul li {
  padding: 5px 12px;
  z-index: 1000;
  cursor: pointer;
  margin: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  border-width: 0 1px 1px;
  font: 11px "Lucida Grande", "Verdana";
  background-color: $grayLighter;
}
.facebook-auto ul li em {
  font-weight: bold;
  font-style: normal;
  background: #ccc;
}
.facebook-auto ul li.auto-focus {
  background: #4173cc;
  color: #fff;
}
.facebook-auto ul li.auto-focus em {
  background: none;
}
.deleted {
  background-color: #4173cc !important;
  color: #fff !important;
}


/* =============================================================================
   non-semantic helper classes
   ========================================================================== */

// For image replacement
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  // IE 6/7 fallback
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
