<div role="navigation" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container{% if page.fluid %}-fluid{%endif%}">

      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="profile-image-flip pull-left"><div>
        <div class="front face">
          <img src="/img/profile.pixel.png" />
        </div>
        <div class="back face">
          <img src="/img/profile.photo.jpg" />
        </div>
      </div></div>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">

        <ul class="nav">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="{{ site.url | replace:site.domain,'blog.' | append:site.domain }}">Blog</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="#" class="contactme">Contact</a></li>
        </ul>

        <ul class="nav pull-right">
          <li><a href="#" id="light-switch" title="Toggle lights"><i class="fa fa-adjust"></i></a></li>
        </ul>

      </div>

    </div>
  </div>
</div>
<!--[if lt IE 7]><div class="browsehappy alert alert-error"><strong>Warning!</strong> You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience of this site.</div><![endif]-->
