<div id="sidebar" class="span4"><div class="sidebar-inner">

  <div class="sidebar-module latest-posts">
    <h3><i class="fa fa-clock-o"></i><span>Latest Posts</span></h3>{% for post in site.posts limit: 5 %}
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <h6>{{ post.date | format_date }}</h6>
  {% endfor %}</div>

  <div class="sidebar-module tag-cloud">
    <h3><i class="fa fa-tags"></i><span>Tag Cloud</span></h3>
    {% tag_cloud %}
  </div>

  <div class="sidebar-module categories">
    <h3><i class="fa fa-list"></i><span>Categories</span></h3>
    {% category_list %}
  </div>

  <div class="sidebar-module archives">
    <h3><i class="fa fa-briefcase"></i><span>Archives</span></h3>
    {% monthly_archives %}
  </div>

</div></div>
