@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "reset";
@import "bootstrap/alerts";
@import "font-awesome";
@import "compass";

body {
  font-family: 'PT Sans', sans-serif;
  min-height: 740px;
  background-color: rgb(168, 168, 168);
  @include background(radial-gradient(rgb(240, 240, 240), rgb(96, 96, 96)));
}

b, strong { font-weight: bold; }
i, em { font-style: italic; }

a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
  @include border-radius(0.2em);
  @include transition(0.5s);

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 1);
    text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
  }
}

#fallback-message {
  @include border-radius(0);
  p { margin-bottom: 10px; }
  .impress-supported & { display: none; }
}

#hint {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: #eee;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  z-index: 100;
  opacity: 0;
  @include transform(translateY(400px));
  @include transition(opacity 1s, transform 0.5s 1s);

  .impress-enabled & { display: block; }
  .impress-on-bored & {
      opacity: 1;
      @include transform(translateY(0px));
      @include transition(opacity 1s 5s, transform 0.5s 4.5s);
  }
}

#overview { display: none }

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  @include box-sizing(border-box);
  font-family: 'PT Serif', georgia, serif;
  font-size: 48px;
  line-height: 1.5;

  .impress-enabled & {
    margin: 0;
    opacity: 0.1;
    @include transition(opacity 1s);

    &.active { opacity: 1; }
  }

  .impress-on-overview & {
    opacity: 1;
    cursor: pointer;
  }
}

.slide {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  @include border-radius(10px);
  @include box-shadow(0 2px 6px rgba(0, 0, 0, .1));
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;

  q {
      display: block;
      font-size: 50px;
      line-height: 72px;
      margin-top: 100px;

      b, strong { white-space: nowrap; }
  }
}

/*
  And as the last thing there is a workaround for quite strange bug.
  It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

  Sometimes the element positioned in 3D (especially when it's moved back
  along Z axis) is not clickable, because it falls 'behind' the <body>
  element.

  To prevent this, I decided to make <body> non clickable by setting
  pointer-events property to `none` value.
  Value if this property is inherited, so to make everything else clickable
  I bring it back on the #impress element.

  If you want to know more about `pointer-events` here are some docs:
  https://developer.mozilla.org/en/CSS/pointer-events 

  There is one very important thing to notice about this workaround - it makes
  everything 'unclickable' except what's in #impress element.

  So use it wisely ... or don't use at all.
*/
.impress-enabled {
  pointer-events: none;
  & #impress { pointer-events: auto; }
}
