{% for post in posts limit: listing_limit %}
  <h3 class="no-bottom"><a href="{{ post.full_url }}">{{ post.title }}</a></h3>
  <h5 class="no-top">
    Posted on {{ post.date | format_date }}
    {% unless no_category %}
      {% if post.category %}
        in <a href="/blog/categories/{{ post.category | slugize }}">{{ post.category }}</a>
      {% endif %}
    {% endunless %}
  </h5>

  <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
  <p><a href="{{ post.full_url }}">Read more&hellip;</a></p>
{% endfor %}
