---
layout: default
changefreq: monthly
priority: 0.7
---

<div class="post">
  <div class="page-header">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      <span>
        <span class="month">{{ page.date | date: "%b" }}</span>
        <span class="day">{{ page.date | date: "%d" }}</span>
      </span>
      <span class="year">{{ page.date | date: "%Y" }}</span>
    </time>
    <h1>{{ page.title }}{% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}</h1>
    <h5>Posted on {{ page.date | format_date }}{% if page.category %} in <a href="/categories/{{ page.category | slugize }}">{{ page.category }}</a>{% endif %}</h5>
    <hr />
  </div>

  <div class="content">{{ content }}</div>

  <hr />

  {% if page.tags %}{% for tag in page.tags %}{% if forloop.first %}<div class="tags">Tagged in <div class="tags-list">{% endif %}<a href="/tags/{{ tag | slugize }}"><span class="label">{{ tag }}</span></a>{% if forloop.last %}</div></div>{% endif %}{% endfor %}{% endif %}

  <div class="next-prev-nav">
    {% if page.previous.url %}&laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>{% if page.next.url %} | {% endif %}{% endif %}
    {% if page.next.url %}<a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;{% endif %}
  </div>

  {% unless page.no_comments %}{% include comments.html %}{% endunless %}
</div>
