/* =============================================================================
   Footer
   ========================================================================== */
footer {
  border-top: 1px solid #ddd;
  margin-top: $baseLineHeight;
  padding-top: $baseLineHeight / 4;

  .lightsoff & {
    border-color: $grayDark;
    color: $gray;

    a { @include opacity(.8); }
  }

  p {
    font-size: 90%;
    margin-bottom: 0;
    text-align: left !important;
  }

  .html5-logo {
    clear: both;
    margin: 0.5em 0;
    @include opacity(0.5);
    @include transition(opacity 0.6s ease);

    &:hover { @include opacity(1); }
  }

  .container-fluid & {
    margin-right: 2em;
  }
}
