/* =============================================================================
   Navigation
   ========================================================================== */
.navbar {
  //.box-shadow(0 3px 9px rgba(0, 0, 0, 0.5));
  .lightsoff & {
    @extend .navbar-inverse;
    @include box-shadow(0 3px 9px rgba(128, 128, 128, 0.2));
  }
  .nav > li > a {
    @include opacity(.75);
    @include transition(opacity 0.6s ease);
    > i {
      @include opacity(.5);
      @include transition(opacity 0.6s ease);
    }
  }
}
.navbar-inverse {
  .nav > li > a {
    color: #fff;
  }
}
.navbar .nav > li.active > a, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover, .navbar .nav > li.active > a > i, .navbar .nav > li > a:hover > i {
  @include opacity(1);
}
.navbar-fixed-top {
  @media (max-width: 979px) { margin-bottom: 0; }
}

/* =============================================================================
   Light switch
   ========================================================================== */
#light-switch {
  margin-left: 4em;
}
#light-switch:hover {
}
