/* =============================================================================
   Navigation
   ========================================================================== */
@media only screen and (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;

    .navbar-inner {
      padding: 0;
      .nav-collapse.in.collapse {
        border-top: 1px solid #ddd;
      }
    }
  }
}
.navbar {
  //.box-shadow(0 3px 9px rgba(0, 0, 0, 0.5));
  .lightsoff & {
    @extend .navbar-inverse;
    @include box-shadow(0 3px 9px rgba(128, 128, 128, 0.2));
  }
  .nav {
    overflow: hidden;

    &.social-media {
    }
  }
  .nav > li > a {
    @include opacity(.75);
    @include transition(opacity 0.6s ease);
    > i {
      @include opacity(.5);
      @include transition(opacity 0.6s ease);
    }
  }

  .nav-collapse .nav.pull-right.social-media {
    @media only screen and (max-width: 979px) {
      //float: left;

      > li {
        float: left;

        > a:hover {
          background: transparent;
        }
      }
    }
  }
}
.navbar-inverse {
  .nav > li > a {
    color: #fff;
  }
}
.navbar .nav > li.active > a, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover, .navbar .nav > li.active > a > i, .navbar .nav > li > a:hover > i {
  @include opacity(1);
}

/* =============================================================================
   Light switch
   ========================================================================== */
#light-switch {
  margin-left: 4em;
  @media only screen and (max-width: 979px) {
    margin-left: 0;
  }
}
#light-switch:hover {
}
