/* =============================================================================
   Profile image flip
   ========================================================================== */
.flip {
  @include scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.profile-image-flip {
  position: relative;
  //width: 200px;
  //height: 200px;
  width: 128px;
  height: 128px;
  z-index: 1;
  & > div {
    //width: 200px;
    //height: 200px;
    width: 128px;
    height: 128px;
  }
  .face {
    position: absolute;
    //width: 200px;
    //height: 200px;
    width: 128px;
    height: 128px;
  }
  .face.front {
    width: 128px;
    height: 128px;
    //margin: 36px;
  }
  .face.back {
    display: none;
  }
  .csstransforms3d.csstransitions & {
    @include perspective(1000px);
    & > div {
      @include transform-style(preserve-3d);
      @include transition(all 1.0s linear);
    }
    &:hover > div { @include rotateY(180deg); }
    .face { @include backface-visibility(hidden); }
    .face.back {
      display: block;
      @include rotateY(180deg);
    }
  }
  .navbar &, .navbar & > div, .navbar & .face {
    width: 40px;
    height: 40px;
  }
  .navbar & .face.front {
    width: 36px;
    height: 36px;
    margin: 2px;
  }
  .sidebar-module & { margin: 0 auto; }
}
