/* =============================================================================
   Social Media Icons
   ========================================================================== */
.social-media-links {
  //text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  footer & {
    margin-bottom: 1em;
    float: right;
  }

  li {
    float: left;
    display: inline-block;
  }

  a {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 0.75em;
    background: image-url('socialmediabadges.32.png') no-repeat 0 0;
    @include transition(opacity 0.6s ease);
    @include opacity(0.5);
    &:hover { @include opacity(1); }
    &.gplus { background-position: -32px 0; }
    &.rss { background-position: -64px 0; }
    &.stackoverflow { background-position: -128px 0; }
    &.twitter { background-position: -96px 0; }
  }
}
