@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
@import "compass";
@import "companimation";
@import "font-awesome/font-awesome";
@import "sprites";

$link-color: $linkColor;
$noise-bg: image-url('noise.png') 0 0 !default;
$icons-sprite: image-url($iconSpritePath) !default;
$icons-white-sprite: image-url($iconWhiteSpritePath) !default;
$lightsoffLinkColor: #08f;
$lightsoffLinkColorHover: #5bf;

@mixin selection($bg, $color: inherit, $text-shadow: none){
  * {
    &::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
  }
}

@import "solarized";
@import "syntax";
@import "helpers";

body {
  padding-top: $navbarHeight;
  @media (max-width: 979px) {
    padding-top: 0;
  }
  .lightsoff & {
    background-color: #1d1d1d;
    color: #bbb;
  }
}

a {
  .lightsoff & {
    @include link-colors($lightsoffLinkColor, $lightsoffLinkColorHover, $lightsoffLinkColorHover, $lightsoffLinkColor, $lightsoffLinkColorHover);
  }
}

@import "accordions";
@import "alerts";
@import "buttons";
@import "dictionary";
@import "forms";
@import "nav";
@import "footer";
@import "sidebar";
@import "posts";
@import "post-dates";
@import "tagcloud";
@import "profile-flip";
@import "socialmedia-icons";
@import "tooltips";
@import "print";
@import "youtube";
@import "browser-icons";
@import "binarylife";
@import "glider-tag";

@import "jquery/fcbkcomplete";
@import "jquery/showloading";
@import "jquery/treemap";

/* =============================================================================
   Thumbnails
   ========================================================================== */
img.thumbnail {
  .lightsoff & { border-color: $gray; }
}

/* =============================================================================
   Media queries
   ========================================================================== */
@media (max-width: 1024px) {
}

@media (max-width: 979px) {
  h1 {
    font-size: $baseFontSize * 2; // ~28px
    line-height: $baseLineHeight * 1.5; // ~30px
  }
  h2 { font-size: $baseFontSize * 1.75; } // ~24px
  h3 { font-size: $baseFontSize * 1.5; } // ~21px

  .post .page-header {
    h1,
    h5 {
      padding: 0;
      margin: 0;
    }
  }
}
@media (max-width: 720px) {
}

@media (max-width: 480px) {
  .very-large-text { font-size: 32px; }

  body.home {
    h3 { font-size: 20px; }
    .span8 > br { display: none; }
    //.container.wrapper > .row > .span12 > .row > .span4 { height: 357px; }
  }
}

@media (max-width: 320px) {
  body.home .container.wrapper > .row > .span12 > .row > .span4 { height: 357px; }
}

@media (max-width: 240px) {
  body.home .container.wrapper > .row > .span12 > .row > .span4 { height: 246px; }
}


/* =============================================================================
   non-semantic helper classes
   ========================================================================== */

// For image replacement
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  // IE 6/7 fallback
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
